.footer {
    border-bottom: 0.2rem solid;
    color: #00a6a6;
    background-color: #9fcccc;
}

.py-xs-5 {
    margin: 3rem 0;

    @media screen and (min-width: 992px) {
        margin: 0;
    }
}

.logo {
    font-size: x-large;
    font-weight: 700;
    color: #004030;
}
